@tailwind base;
@tailwind components;
@tailwind utilities;

#messages {
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

#messages::-webkit-scrollbar {
  /* Support for Chrome, Safari, and Opera */
  display: none;
}
